<div class="grid">
  <div class="grid__item medium-up--one-quarter">
    <span class="h5 comment-author">{{ comment.author }}</span>
    <span class="comment-date">
      {{ comment.created_at | time_tag: format: 'month_day_year' }}
    </span>
  </div>
  <div class="grid__item medium-up--three-quarters">
    <div class="rte">
      {{ comment.content }}
    </div>
  </div>
</div>
