<div class="page-width">
  <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
    {%- render 'collapsible-icons-alt', no_circle: true -%}
    {{ block.settings.title }}
  </button>
  <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all">
    <div class="collapsible-content__inner collapsible-content__inner--faq rte">
      {{ block.settings.text }}
    </div>
  </div>
</div>
