<div id="VideoModal" class="modal modal--solid">
  <div class="modal__inner">
    <div class="modal__centered page-width text-center">
      <div class="modal__centered-content">
        <div class="video-wrapper video-wrapper--modal">
          <div id="VideoHolder"></div>
        </div>
      </div>
    </div>
  </div>

  <button type="button" class="modal__close js-modal-close text-link">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"/></svg>
    <span class="icon__fallback-text">{{ 'general.accessibility.close_modal' | t | json }}</span>
  </button>
</div>
