<div class="page-width page-content collections-list">

  {%- render 'breadcrumbs' -%}

  {%- if section.settings.title_enable -%}
    <header class="section-header">
      <h1 class="section-header__title">
        {{ 'collections.general.catalog_title' | t }}
      </h1>
    </header>
  {%- endif -%}

  {%- liquid
    case section.settings.grid
      when '1'
        assign grid_item_width = 'collection--square-small'
      when '2'
        assign grid_item_width = 'medium-up--one-half collection--square-small'
      when '3'
        assign grid_item_width = 'small--one-half medium-up--one-third collection--square-small'
      when '4'
        assign grid_item_width = 'small--one-half medium-up--one-quarter collection--square-small'
      when '5'
        assign grid_item_width = 'small--one-half medium-up--one-fifth collection--square-small'
    endcase
  -%}

  <div class="grid grid--uniform skrim-grid">
    {% if section.settings.display_type == 'all' %}
      {%- liquid
        case section.settings.sort
          when 'products_high' or 'products_low'
            assign collections = collections | sort: 'all_products_count'
          when 'date' or 'date_reversed'
            assign collections = collections | sort: 'published_at'
        endcase
      -%}
      {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
        {%- for collection in collections -%}
          {%- render 'collection-grid-item', collection: collection, grid_item_width: grid_item_width -%}
        {%- endfor -%}
      {% else %}
        {%- for collection in collections reversed -%}
          {%- render 'collection-grid-item', collection: collection, grid_item_width: grid_item_width -%}
        {%- endfor -%}
      {% endif %}
    {% else %}
      {%- for block in section.blocks -%}
        {%- assign collection = collections[block.settings.collection] -%}
        {%- render 'collection-grid-item', collection: collection, grid_item_width: grid_item_width -%}
      {%- endfor -%}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Collections list page",
    "settings": [
      {
        "type": "checkbox",
        "id": "title_enable",
        "label": "Show title",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      },
      {
        "type": "radio",
        "id": "display_type",
        "label": "Select collections to show",
        "default": "all",
        "options": [
          {
            "value": "all",
            "label": "All"
          },
          {
            "value": "selected",
            "label": "Selected"
          }
        ]
      },
      {
        "type": "select",
        "id": "sort",
        "label": "Sort collections by:",
        "info": "Sorting only applies when 'All' is selected",
        "default": "alphabetical",
        "options": [
          {
            "value": "products_high",
            "label": "Product count, high to low"
          },
          {
            "value": "products_low",
            "label": "Product count, low to high"
          },
          {
            "value": "alphabetical",
            "label": "Alphabetically, A-Z"
          },
          {
            "value": "alphabetical_reversed",
            "label": "Alphabetically, Z-A"
          },
          {
            "value": "date",
            "label": "Date, old to new"
          },
          {
            "value": "date_reversed",
            "label": "Date, new to old"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Collections per row",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
