<div class="page-width page-content">
  <header class="section-header section-header--404">
    <h1 class="section-header__title">{{ 'general.404.title' | t }}</h1>
    <div class="rte text-spacing">
      {{ 'general.404.subtext_html' | t: url: routes.root_url }}
    </div>
  </header>
</div>
